extends layout

block content

    div(class='flex items-center justify-center w-full h-full gap-12 p-8 animate-reveal-page')
        a(href="/sellers/create" class='flex-wrap p-12 text-xl font-bold uppercase transition-all bg-white border rounded-lg hover:scale-110') Create Seller
        a(href="/categories/create" class='flex-wrap p-12 text-xl font-bold uppercase transition-all bg-white border rounded-lg hover:scale-110') Create Category
        a(href="/items/create" class='flex-wrap p-12 text-xl font-bold uppercase transition-all bg-white border rounded-lg hover:scale-110') Create Item
