doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body(class='w-screen min-h-screen ')
    nav
      a(href='/items') Items
      a(href='/categories') Categories
      a(href='/sellers') Sellers
    block content
