extends ../layout

block content

    h1 Delete #{item.name} ?
    form(action="" method="POST")
        if errors && errors.length > 0
            each error in errors
                p.error= error.msg

        input(type="text" name="adminpass" placeholder="Password" required autofocus)
        input(type="submit" value="Submit")
